body {
    font-family: "Ubuntu";
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat";
}

.container-fluid {
    padding: 7% 15%;
}

/* Headings */

.big-heading {
    font-family: "Montserrat";
    font-size: 3.5rem;
    line-height: 1.5;
    
}

.price-heading,
.testimonial-heading {
    font-size: 3rem;
    line-height: 1.5;
}

.feature-heading {
    font-size: 1.5rem;
}

.footer-heading {
    color: white;
    font-size: 3.5rem;

}

/* title */

#title .container-fluid{
        padding: 3% 15% 7%;
}

#title {
    background-color: #ff4c68;
    color: white;
    text-align: left;
}



/* navbar */

.navbar {
    padding-bottom: 4.5rem;

}

.navbar-brand {
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;

}

/* buttons */

.download-button {
    margin: 5% 3% 5% 0%;
    text-align: left;

}


/* image */
.img-dog {
    width: 18%;
    transform: rotate(15deg);
    position: absolute;
    right: 24%;
}

@media (max-width:991px) {


    #title {
        text-align: center;
    }

    .img-dog {
        position: static;
        transform: rotate(0);
        width: 50%;
    }
}


/* features */

#features {

    background-color: white;
    position: relative;

}

.feat-box {

    padding-left: 6.5%;
    padding-right: 6.5%;
}

.feature-p {
    color: rgb(143, 143, 143);
}

.ico {
    font-size: 50px;
    color: #ef8172;
}

.ico:hover {
    color: #ff4c68
}


/* testimonals */
#press {
    background-color: #ef8172;
    padding-bottom: 3%;
}

#testimonials {
    background-color: #ef8172;
    color: white;
}
.press-img {
    width: 15%;
    margin: 20px 20px 50px;
}

.testo-img {

    width: 10%;
    border-radius: 100%;
    margin: 20px;
}








/* pricing */
#pricing {
    padding: 100px;

}



.pricing-colum {
    padding: 3% 2%;
}



.pricing {
    margin: auto;

}

.pricebtn {
    border-color: #ff4c68;
    color: #ff4c68;
}

.pricebtn:hover {
    background-color: #ff4c68;
    border-color: #ff4c68;
}

/* footer */

#cta {
    background-color: #ff4c68;
}


.foot-ico {
    font-size: 30px;
    padding: 0 1%;
}

.copyright {
    font-size: 1.5rem;
}